.tv-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "titulo"
        "img"
        "sinopse"
        "ano";
    place-items: center;
    margin-bottom: 15px;
    height: 100vh;
    padding: 20px;

    .nome-tv {
        grid-area: titulo;
        font-size: 2rem;
        margin: 0;
    }

    img {
        grid-area: img;
        margin: 0;
        padding: 0;

    }

    .sinopse-tv,
    .ano-tv {
        border: 2px solid #CF0F47;
        border-radius: 10px;
        text-align: center;

    }

    .sinopse-tv {
        grid-area: sinopse;
    }

    .ano-tv {
        grid-area: ano;
        padding: 0 25px;
    }



}