footer {
    background-color: #CF0F47;
    padding: 25px 0;
    text-align: center;
    position: static;
    bottom: 0;
  
    width: 100%;
    padding: 10px;
    text-align: center;


    p {
        a {
            text-decoration: none;
        }
    }

}